.dark-blue {background-color: #122c55;}
.dark-blue-text {color: #122c55;}
.dark-blue-2 {background-color: #183a99;}
.dark-blue-2-text {color: #183a99;}
.med-blue {background-color: #2962ff;}
.med-blue-text {color: #2962ff;}
.fullheight {height: 100vh;}
.fullwidth {width: 100%;}
.c-hamburger {display: block;position: relative;overflow: hidden;margin: 0;padding: 0;width: 60px;height: 60px;font-size: 0;text-indent: -9999px;appearance: none;box-shadow: none;border-radius: none;border: none;cursor: pointer;transition: background .3s;z-index: 100000;}
.c-hamburger:focus {outline: none;background: transparent;}
.c-hamburger span {display: block;position: absolute;top: 35px;left: 10px;right: 10px;height: 5px;background: #122c55;border-radius: 5px;}
.c-hamburger span::before, .c-hamburger span::after {position: absolute;display: block;left: 0;width: 100%;height: 5px;background-color: #122c55;border-radius: 5px;content: "";}
.c-hamburger span::before {top: -15px;}
.c-hamburger span::after {bottom: -15px;}
.c-hamburger--htx {background-color: transparent;}
.c-hamburger--htx span {transition: background 0s .3s;}
.c-hamburger--htx span::before, .c-hamburger--htx span::after {transition-duration: .3s,.3s;transition-delay: .3s,0s;}
.c-hamburger--htx span::before {transition-property: top,transform;}
.c-hamburger--htx span::after {transition-property: bottom,transform;}
.c-hamburger--htx.is-active {color: #fff;background-color: transparent;}
.c-hamburger--htx.is-active span {color: #fff;background: transparent;}
.c-hamburger--htx.is-active span::before {top: 0;background-color: #fff;transform: rotate(45deg);}
.c-hamburger--htx.is-active span::after {bottom: 0;background-color: #fff;transform: rotate(-45deg);}
.c-hamburger--htx.is-active span::before, .c-hamburger--htx.is-active span::after {transition-delay: 0s,.3s;}
.drag-target {display: none;}
.side-nav {width: 100%;background-color: rgba(0,0,0,.9);}
.side-nav a.active {color: #183a99;font-weight: bold;}
.side-nav a {color: #fff;}
.language a, .language a.active {color: #fff;}
#secondary .pagenav a:hover, #secondary .pagenav a.active {font-weight: bold;}
#secondary .pagenav .pagenav .active:before {content: "";display: block;position: absolute;margin: 8px 0 0 0;height: 30px;line-height: 20px;margin-left: -10px;width: 3px;background-color: #183a99;}
.links a.active {font-weight: bold;color: #2962ff;}
.links .active:before {content: "";display: block;position: absolute;margin: 8px 0 0 0;height: 30px;line-height: 20px;margin-left: -25px;width: 3px;background-color: #2962ff;}
header {top: 0;}
nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {height: 75px;line-height: 75px;}
.nav-wrapper {width: 100%;justify-content: space-around;}
.name h1 {margin: auto 0;margin-left: 25px;line-height: normal;font-size: 3.75em;}
.name {margin: 0;width: 50%;}
.lang_changer {top: 0;position: relative;height: 75px;line-height: 75px;margin: 0;margin-right: 50px;}
.lang_changer li a {font-size: 1em;display: inline-block;width: 1em;max-width: 1em;line-height: 20px;white-space: nowrap;overflow: hidden;text-overflow: clip;text-transform: uppercase;margin: 0 .5em;padding: 0;}
.lang_changer a.active {width: 1.1em;max-width: 1.15em;font-weight: 700;margin: 0;border-bottom: 1px solid #183a99;}
.lang_changer a:hover, .lang_changer a.acitve:hover {color: #122c55;background-color: transparent;border-bottom: 1px solid #122c55;}
.lang_changer a.active {font-weight: 700;}
.entry-content {width: auto;word-wrap: normal;}
.entry-content .section {min-height: 500px;position: relative;}
.entry-content p {font-size: 20px;line-height: 22px;margin: 0 auto;}
.entry-content span.exo2bold {font-size: 22px;line-height: 22px;margin: 0 auto;}
#secondary {top: 0;left: 0;position: absolute;width: 25%;}
#secondary ul {width: 75%;margin-left: 75px;}
#secondary li {text-align: left;}
#secondary li a {font-size: 20px;}
#secondary li a:hover:before {content: "";display: block;position: absolute;margin: 8px 0 0 0;height: 30px;line-height: 20px;margin-left: -25px;width: 3px;background-color: #122c55;}
#secondary li a:hover {color: #122c55;}
#secondary a.active {font-weight: bold;color: #183a99;}
#secondary .pagenav .active:before {content: "";display: block;position: absolute;margin: 8px 0 0 0;height: 30px;line-height: 20px;margin-left: -25px;width: 3px;background-color: #183a99;}
#secondary .pagenav .active:hover:before {background-color: #122c55;}
.page-contents a {color: #122c55;}
.page-contents a:hover {color: #183a99;}
footer {height: 60px;line-height: 60px;}
footer .icons {height: 60px;line-height: 60px;width: 240px;margin: 0 auto;}
footer .circle {height: 40px;width: 40px;line-height: 40px;margin: 0 auto;}
footer .icon {height: 25px;width: 25px;font-size: 25px;color: #fff;font-weight: 100;text-align: center;vertical-align: middle;margin: 0;}
.downloader, .downloader .icon-download {font-size: 13px;}
.downloader .icon-download {margin-left: 13px;}
.chip {height: auto;line-height: normal;padding: 5px 10px;}
.file-field .file-path-wrapper {width: 79%;}
input:not([type]):focus:not([readonly]), input[type=text]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=url]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=date]:focus:not([readonly]), input[type=datetime]:focus:not([readonly]), input[type=datetime-local]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=search]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {border-bottom: 1px solid #2962ff;box-shadow: 0 1px 0 0 #2962ff;}
input:not([type]):focus:not([readonly]) + label, input[type=text]:focus:not([readonly]) + label, input[type=password]:focus:not([readonly]) + label, input[type=email]:focus:not([readonly]) + label, input[type=url]:focus:not([readonly]) + label, input[type=time]:focus:not([readonly]) + label, input[type=date]:focus:not([readonly]) + label, input[type=datetime]:focus:not([readonly]) + label, input[type=datetime-local]:focus:not([readonly]) + label, input[type=tel]:focus:not([readonly]) + label, input[type=number]:focus:not([readonly]) + label, input[type=search]:focus:not([readonly]) + label, textarea.materialize-textarea:focus:not([readonly]) + label {color: #2962ff;}
.btn-flat:hover {background-color: #122c55;}
@media all and (min-width: 0) and (max-width: 601px) {.file-field .file-path-wrapper {width: 100%;}}
body.page-template-contact .btn, .btn-large, .btn-flat[type=select] {margin-bottom: 1em;}
body.page-template-contact .btn, .btn-large, .btn-flat[type=submit] {margin-bottom: -15px;}
.file-row {justify-content: space-between;}
.error {font-size: 1em;}
@media all and (min-width: 0) and (max-width: 320px) {.c-hamburger {height: 40px;width: 40px;margin: 15px 0;}
	.c-hamburger span {top: 15px;height: 4px;}
	.c-hamburger span::before {top: -10px;}
	.c-hamburger span::after {bottom: -10px;}
	.c-hamburger span::before, .c-hamburger span::after {height: 4px;}
	.pagenav {width: 100vw;}
	.side-nav .divider {width: 100%;margin: 20px auto;}
	.side-nav .container {height: 70%;justify-content: space-between;}
	.links {width: 100%;position: relative;text-align: left;height: 80%;justify-content: space-around;}
	.links li {width: 100%;float: left;text-align: left;}
	.pagenav .name {margin-top: 10px;margin-bottom: 20px;position: relative;display: block;text-align: center;}
	.side-nav li {float: left;clear: both;margin: auto;line-height: normal;}
	.side-nav a {text-align: left;font-size: 1em;height: auto;line-height: normal;margin: auto;}
	.links .active:before {content: "";display: block;position: absolute;margin: .2em 0 0 0;height: 1em;line-height: 20px;margin-left: -10px;width: 3px;}
	.linker {margin: 0 auto;width: 90%;}
	.linker li {width: auto;}
	.side-nav .language a {font-size: 1em;display: inline-block;width: 1em;max-width: 1.5em;white-space: nowrap;overflow: hidden;text-overflow: clip;text-transform: uppercase;margin: 0 .5em;padding: 0;}
	.pagenav .name h1 {height: 48px;line-height: 48px;font-size: 1.8em;margin-left: -5%;text-align: center;}
	.name {width: 100%;margin: auto;}
	.name h1 {margin-top: 5px;height: 60px;line-height: 60px;font-size: 1.8em;text-align: center;}
	.parallax-container {height: 300px;}
	.parallax img {min-width: auto;max-width: none;width: auto;height: 100%;}
	.downloader .icon-download {margin-left: 16px;}
	.downloader, .downloader .icon-download {font-size: 16px;}
	.entry-content p {font-size: 16px;line-height: normal;}
	p.error {font-size: 12px;line-height: 14px;}
	.error p {font-size: 8px;line-height: 10px;}
	.entry-content span.exo2bold {font-size: 16px;line-height: normal;}
	footer .circle {width: 30px;height: 30px;line-height: 30px;}
	body.page-template-contact .file-row, body.page-template-contact .captcha-row {flex-direction: column;}}
@media all and (min-width: 321px) and (max-width: 480px) {.c-hamburger {height: 50px;width: 50px;margin: 10px 0;}
	.c-hamburger span {top: 20px;height: 5px;}
	.c-hamburger span::before {top: -10px;}
	.c-hamburger span::after {bottom: -10px;}
	.c-hamburger span::before, .c-hamburger span::after {height: 5px;}
	.pagenav {width: 100vw;}
	.side-nav .divider {width: 100%;margin: 20px auto;}
	.side-nav .container {height: 80%;justify-content: space-between;}
	.links {width: 100%;position: relative;text-align: left;height: 80%;justify-content: space-around;}
	.links li {width: 100%;float: left;text-align: left;}
	.pagenav .name {margin-top: 10px;margin-bottom: 20px;position: relative;display: block;text-align: left;}
	.side-nav li {float: left;clear: both;margin: auto;line-height: normal;}
	.side-nav a {text-align: left;font-size: 1.75em;height: auto;line-height: normal;margin: auto;}
	.links .active:before {content: "";display: block;position: absolute;margin: .2em 0 0 0;height: 1em;line-height: 1.75em;margin-left: -10px;width: 3px;}
	.linker {margin: 0 auto;width: 90%;}
	.linker li {width: auto;}
	.side-nav .language a {font-size: 1.5em;display: inline-block;width: 1em;max-width: 1.5em;white-space: nowrap;overflow: hidden;text-overflow: clip;text-transform: uppercase;margin: 0 .5em;padding: 0;}
	.pagenav .name h1 {height: 48px;line-height: 48px;font-size: 2.5em;text-align: center;}
	.name {width: 80%;margin: auto;}
	.name h1 {margin-top: 5px;height: 60px;line-height: 60px;font-size: 2.5em;}
	.parallax-container {height: 400px;}
	.parallax img {min-width: auto;max-width: none;width: auto;height: 100%;}
	.downloader .icon-download {margin-left: 18px;}
	.downloader, .downloader .icon-download {font-size: 18px;}
	.entry-content p {font-size: 18px;line-height: normal;}
	p.error {font-size: 14px;line-height: 16px;}
	.error p {font-size: 10px;line-height: 12px;}
	.entry-content span.exo2bold {font-size: 18px;line-height: normal;}
	footer .circle {width: 30px;height: 30px;line-height: 30px;}}
@media all and (min-width: 481px) and (max-width: 600px) {.c-hamburger {height: 50px;width: 50px;margin: 10px 0;}
	.c-hamburger span {top: 20px;height: 5px;}
	.c-hamburger span::before {top: -10px;}
	.c-hamburger span::after {bottom: -10px;}
	.c-hamburger span::before, .c-hamburger span::after {height: 5px;}
	.pagenav {width: 100vw;}
	.side-nav .divider {width: 100%;margin: 20px auto;}
	.side-nav .container {height: 85%;justify-content: space-between;}
	.links {width: 100%;position: relative;text-align: left;height: 75%;justify-content: space-around;}
	.links li {width: 100%;float: left;text-align: left;}
	.pagenav .name {margin-top: 10px;margin-bottom: 20px;position: relative;display: block;text-align: left;}
	.side-nav li {float: left;clear: both;margin: auto;line-height: normal;}
	.side-nav a {text-align: left;font-size: 1.9em;height: auto;line-height: normal;margin: auto;}
	.links .active:before {content: "";display: block;position: absolute;margin: .2em 0 0 0;height: 1em;line-height: 1.75em;margin-left: -15px;width: 3px;}
	.linker {margin: 0 auto;width: 90%;}
	.linker li {width: auto;}
	.side-nav .language a {font-size: 1.5em;display: inline-block;width: 1em;max-width: 1.5em;white-space: nowrap;overflow: hidden;text-overflow: clip;text-transform: uppercase;margin: 0 .5em;padding: 0;}
	.pagenav .name h1 {height: 48px;line-height: 48px;font-size: 2.75em;text-align: center;}
	.name {width: 85%;margin: auto;}
	.name h1 {margin-top: 5px;height: 60px;line-height: 60px;font-size: 2.75em;}
	.parallax img {min-width: auto;max-width: none;width: auto;height: 100%;}
	.downloader .icon-download {margin-left: 20px;}
	.downloader, .downloader .icon-download {font-size: 20px;}
	.entry-content p {font-size: 20px;line-height: normal;}
	p.error {font-size: 16px;line-height: 18px;}
	.error p {font-size: 12px;line-height: 14px;}
	.entry-content span.exo2bold {font-size: 20px;line-height: normal;}
	footer .circle {width: 40px;height: 40px;line-height: 40px;}
	body.page-template-contact .captcha-row {flex-direction: column;}}
@media all and (min-width: 601px) and (max-width: 991px) {.c-hamburger {height: 50px;width: 50px;margin: 10px 0;}
	.c-hamburger span {top: 20px;height: 5px;}
	.c-hamburger span::before {top: -10px;}
	.c-hamburger span::after {bottom: -10px;}
	.c-hamburger span::before, .c-hamburger span::after {height: 5px;}
	.pagenav {width: 100vw;}
	.side-nav .divider {width: 100%;margin: 20px auto;}
	.side-nav .container {height: 85%;justify-content: space-between;}
	.links {width: 100%;position: relative;text-align: left;height: 75%;justify-content: space-around;}
	.links li {width: 100%;float: left;text-align: left;}
	.pagenav .name {margin-top: 10px;margin-bottom: 20px;position: relative;display: block;text-align: left;}
	.side-nav li {float: left;clear: both;margin: auto;line-height: normal;}
	.side-nav a {text-align: left;font-size: 2.5em;height: auto;line-height: normal;margin: auto;}
	.links .active:before {content: "";display: block;position: absolute;margin: .2em 0 0 0;height: 1em;line-height: 2em;margin-left: -20px;width: 3px;}
	.linker {margin: 0 auto;width: 90%;}
	.linker li {width: auto;}
	.side-nav .language a {font-size: 1.5em;display: inline-block;width: 1em;max-width: 1.5em;white-space: nowrap;overflow: hidden;text-overflow: clip;text-transform: uppercase;margin: 0 .5em;padding: 0;}
	.pagenav .name h1 {height: 48px;line-height: 48px;font-size: 3em;text-align: center;}
	.pagenav .name, .name {width: 90%;margin: auto;}
	.name h1 {margin-top: 5px;height: 60px;line-height: 60px;font-size: 3em;}
	.parallax-container {height: 400px;}
	.downloader .icon-download {margin-left: 22px;}
	.downloader, .downloader .icon-download {font-size: 22px;}
	.entry-content p {font-size: 22px;line-height: normal;}
	p.error {font-size: 18px;line-height: 20px;}
	.error p {font-size: 14px;line-height: 16px;}
	.entry-content span.exo2bold {font-size: 22px;line-height: normal;}
	footer .circle {width: 50px;height: 50px;line-height: 50px;}}
@media all and (min-width: 992px) and (max-width: 1024px) {.lang_changer li a, .lang_changer li a.active {font-size: 14px;width: 15px;max-width: 16px;line-height: 20px;margin: 0 .25em;top: 0;bottom: 0;height: 20px;vertical-align: middle;border-bottom: 1px solid transparent;}
	.lang_changer li a.active {border-bottom: 1px solid #2962ff;}
	.parallax-container {height: 500px;}
	#secondary li a {font-size: 1.1em;}
	#secondary .pagenav li a:hover:before, #secondary .pagenav .active:before {height: 1.1em;margin: .2em 0 0 0;margin-left: -25px;}
	.downloader .icon-download {margin-left: 18px;}
	.downloader, .downloader .icon-download {font-size: 18px;}
	.entry-content p {font-size: 18px;line-height: 20px;}
	p.error {font-size: 14px;line-height: 16px;}
	.error p {font-size: 12px;line-height: 14px;}
	.entry-content span.exo2bold {font-size: 20px;line-height: 22px;}
	footer .circle {height: 30px;width: 30px;line-height: 30px;}
	footer .icon {height: 15px;width: 15px;line-height: 15px;font-size: 15px;}}
@media all and (min-width: 1025px) and (max-width: 1280px) {.lang_changer li a, .lang_changer li a.active {font-size: 14px;width: 15px;max-width: 16px;line-height: 20px;margin: 0 .25em;top: 0;bottom: 0;height: 20px;vertical-align: middle;border-bottom: 1px solid transparent;}
	.lang_changer li a.active {border-bottom: 1px solid #2962ff;}
	.parallax-container {height: 500px;}
	#secondary li a {font-size: 1.1em;}
	#secondary .pagenav li a:hover:before, #secondary .pagenav .active:before {height: 1.15em;margin: .2em 0 0 0;margin-left: -25px;}
	.downloader .icon-download {margin-left: 18px;}
	.downloader, .downloader .icon-download {font-size: 18px;}
	.entry-content p {font-size: 18px;line-height: 20px;}
	p.error {font-size: 16px;line-height: 18px;}
	.error p {font-size: 14px;line-height: 16px;}
	.entry-content span.exo2bold {font-size: 20px;line-height: 22px;}
	footer .circle {height: 30px;width: 30px;line-height: 30px;}
	footer .icon {height: 15px;width: 15px;line-height: 15px;font-size: 15px;}}
@media all and (min-width: 1281px) and (max-width: 1600px) {.lang_changer li a, .lang_changer li a.active {font-size: 16px;width: 17px;max-width: 18px;line-height: 22px;margin: auto .25em;top: 0;bottom: 0;height: 22px;vertical-align: middle;}
	.parallax-container {height: 600px;}
	#secondary li a {font-size: 1.25em;}
	#secondary .pagenav li a:hover:before, #secondary .pagenav .active:before {height: 1em;margin: .25em 0 0 0;margin-left: -25px;}
	.downloader .icon-download {margin-left: 20px;}
	.downloader, .downloader .icon-download {font-size: 20px;}
	.entry-content p {font-size: 20px;line-height: 22px;}
	p.error {font-size: 16px;line-height: 18px;}
	.error p {font-size: 14px;line-height: 16px;}
	.entry-content span.exo2bold {font-size: 22px;line-height: 24px;}
	footer .circle {height: 40px;width: 40px;line-height: 40px;}
	footer .icon {height: 20px;width: 20px;line-height: 20px;font-size: 20px;}}
@media all and (min-width: 1601px) and (max-width: 1920px) {.lang_changer li a, .lang_changer li a.active {font-size: 18px;width: 19px;max-width: 20px;line-height: 24px;margin: auto .25em;top: 0;bottom: 0;height: 24px;vertical-align: middle;}
	.parallax-container {height: 700px;}
	#secondary li a {font-size: 1.5em;}
	#secondary .pagenav li a:hover:before, #secondary .pagenav .active:before {height: 1em;margin: .3em 0 0 0;margin-left: -25px;}
	.downloader .icon-download {margin-left: 22px;}
	.downloader, .downloader .icon-download {font-size: 22px;}
	.entry-content p {font-size: 22px;line-height: 24px;}
	p.error {font-size: 18px;line-height: 20px;}
	.error p {font-size: 16px;line-height: 18px;}
	.entry-content span.exo2bold {font-size: 24px;line-height: 26px;}
	footer .circle {height: 50px;width: 50px;line-height: 50px;}
	footer .icon {height: 25px;width: 25px;line-height: 25px;font-size: 25px;}}
@media all and (min-width: 1921px) {.lang_changer li a, .lang_changer li a.active {font-size: 20px;width: 21px;max-width: 24px;line-height: 26px;margin: auto .25em;top: 0;bottom: 0;height: 26px;vertical-align: middle;}
	.parallax-container {height: 900px;}
	#secondary li a {font-size: 1.75em;}
	#secondary .pagenav li a:hover:before, #secondary .pagenav .active:before {height: 1em;margin: .25em 0 0 0;margin-left: -25px;}
	.downloader .icon-download {margin-left: 26px;}
	.downloader, .downloader .icon-download {font-size: 26px;}
	.entry-content p {font-size: 26px;line-height: 28px;}
	p.error {font-size: 22px;line-height: 24px;}
	.error p {font-size: 20px;line-height: 22px;}
	.entry-content span.exo2bold {font-size: 28px;line-height: 30px;}
	footer .circle {height: 50px;width: 50px;line-height: 50px;}
	footer .icon {height: 25px;width: 25px;line-height: 25px;font-size: 25px;}}